<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Music Recommender</title>
    <link rel="shortcut icon" href="/assets/img/spotify.png">
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
</head>

<body>
    <nav><a href="/login"><img id="logo" src="/assets/img/spotify.png" alt="spotify logo" /></a>
        <div class="navlink"><a id="loginButton" href="/login">Login</a></div>
        <div class="navlink"><a id="signupButton" href="/signup">Sign up</a></div>
    </nav>

 
    
    
 

    <section id="content">
        
        
    </section>

  

    <div id="roboMessage" class='hidden'>
        <img id="speech" src="/assets/img/speech.png" alt="speech box" />
        <h3><span id="errorMessage"></span></h3>
        <img id="robot" src="assets/img/robot.png" alt="robot" />
    </div>
    <script src="/assets/loginBundle.js"></script>
</body>
</html>