<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Spotify Music Recommender</title>
  <link rel="shortcut icon" href="/assets/img/spotify.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/spotify.png" alt="spotify logo"/></a>
     <div class="navlink"><a href="/main">Song Page</a></div>
    <div class ="navlink"><a href="/reviews">Reviews</a></div>
    <div class="navlink"><a href="/logout">Log out</a></div>
 
  </nav>



  <section id="preferences">

  </section>

<script src="/assets/preferenceBundle.js"></script>
  
</body>
</html>
