<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Spotify Music Recommender</title>
  <link rel="shortcut icon" href="/assets/img/spotify.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/spotify.png" alt="spotify logo"/></a>
     <div class="navlink"><a href="/main">Song Page</a></div>
    <div class ="navlink"><a href="/preferences">Preferences</a></div>
    <div class="navlink"><a href="/logout">Log Out</a></div>
 
  </nav>



  <section id="reviews">

  </section>

<script src="/assets/reviewBundle.js"></script>
 <div id="roboMessage" class='hidden'>
    <img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <h3><span id="errorMessage"></span></h3>
    <img id="robo" src="assets/img/robot.png" alt="robo"/>
  </div>
  
</body>
</html>
