html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Spotify-Font";
}

h1 {
    font-weight: bold;
}

#logo {
    height: 40px;
    width: 60px;
    padding-top: 15px;
    float: left;
    border-radius: 8px;
}

.banner {
    display: block;
    width: 100%;
    max-width: 400px
}


nav {
    width: 100%;
    height: 70px;
    background-color: black;
}

nav:nth-child(1) {
    padding-left: 25px;
}

#content {
    background-color: #1ED760;
    font-family: "GothamBold";
}

.navlink {
    padding: 5px;
    padding-top: 25px;
    padding-left: 20px;
    color: white;
    font-size: 1.3em;
    float: left;
}


.navlink a,
.navlink a:link,
.navlink a:visited,
.navlink a:hover,
.navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #000000;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: #1ED760;
}

#makeSong {
    border: 2px solid #ffff;
    height: 35px;
    width: 1530px;
    margin-top: 0px;
    padding-top: 10px;
    background-color: #000000;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;



}



.homeForm label,
.homeForm input[type=text],
.homeForm input[type=number],
.makeSongSubmit {
    display: inline-block;
    margin-right: 8px;
    margin-left: 10px;
}

.homeForm label {
    font-size: 1.2em;
    color: white;
    align-self: center
        /* Vertically center labels */
}

.homeForm input[type=text],
.homeForm input[type=number] {
    padding: 5px;
    border-radius: 4px;
}





.makeSongSubmit {
    transition: background-color 0.4s ease;
    display: inline;
    width: 120px;
    background-color: black;
    border-radius: 2px;
    color: white;
    text-decoration: none;

    padding: 5px 15px;
    margin-right: 30px;

    align-self: center;
}

.makeSongSubmit:link,
.makeSongSubmit:visited,
.makeSongSubmit:hover,
.makeSongSubmit:active {
    color: white;
}

.makeSongSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #1ED760;
}

.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 300px;
    font-size: 1.2em;
    color: white;
    font-weight: bold
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    background-color: #1F2421;
    border-radius: 2px;
    border-color: gray;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
}

.formSubmit:link,
.formSubmit:visited,
.formSubmit:hover,
.formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: grey;
}

#user,
#pass,
#pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus,
#pass:focus,
#pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #55acee;
}

.hidden {
    display: none;
}

#roboMessage {
    top: 250px;
    width: 250px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 0px;
    overflow: hidden;
}

#roboMessage h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
}

#speech {
    height: 120px;
    width: 250px;
    z-index: 300;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}

.musicList {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5px;
    width: 100%;
    /* padding: 10px; */
    background-color: #1ED760;
    border: 2px solid #1F2421;
    border-radius: 15px;
    margin: 0 auto;
}

#song {
    z-index: 225;
    margin-top: -20px;
    margin-left: 135px;
    height: 450px;
    width: 300px;
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg);
    transform: rotate(330deg);
}

#songs {
    width: 40%;
    min-width: 400px;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 100px;
}

.song {
    flex: 0 1 30%;
    margin: 10px;
    border: 2px solid #1ED760;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 10px;
    min-height:120px;
    overflow: hidden;
}





.song:hover {
    transition: border-color 0.2s ease-out;
    border-color: rgba(255, 255, 255, 0.8);
    transition: background-color 0.5s ease-out;
    background-color: #1F2421;
}


img.spotify {
    height: 50px;
    width: 70px;
    border-radius: 4px;
    float: left;
    margin-right: 4px;
    /* Space between the icon and text */
}

h3.emptySong {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}


h3.songTitle {
    float: left;
    text-align: left;
    width: 100px;
    font-weight: bold;
    padding-right: 40px;
    font-size: 1.2em;
}

h3.songArtist {
    float: left;
    text-align: left;
    width: 100px;
    font-weight: bold;
    padding-right: 40px;
    font-size: 1.2em;
}

h3.songAlbum{
    float: left;
    text-align: left;
    width: 100px;
    font-weight: bold;
    padding-right: 40px;
    font-size: 1.2em;
}

h3.musicGenre{
    float: left;
    text-align: left;
    width: 100px;
    font-weight: bold;
    padding-right: 40px;
    font-size: 1.2em;
}



.likeButton{
    float: left;
    width: 100px;
    background-color: rgb(26, 181, 26);
    color: white;
    margin-bottom: 5px;
    border-radius: 5px;
}

.dislikeButton{
    float: left;
    width: 100px;
    background-color: rgb(176, 42, 42);
    color: white;
    border-radius: 5px;
}



.song:first-child {
    margin-top: 10px;
}

.song:last-child {
    margin-bottom: 10px;
}